* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

nav {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.ul-container {
    width: 600px;
    display: flex;
    justify-content: space-around;
}