html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  padding: 0;
  list-style: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  overflow: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .ul-container {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .ul-container .home-section {
  color: #251c57;
  font-weight: 900;
}

nav .ul-container .trial-btn {
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  background-color: #1cbfff;
  font-weight: 900;
  color: white;
}

nav .ul-container .trial-btn:hover {
  background-color: #251c57;
}

nav .logo {
  height: 40px;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1500px;
  margin: 0 auto;
  margin-top: 100px;
}

.content-container .home-title {
  font-size: 4.5rem;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: #251c57;
  line-height: 80px;
}

.content-container .home-title span {
  font-size: 4.5rem;
  color: #1cbfff;
  font-family: "Montserrat", sans-serif;
}

.content-container .introduction {
  margin-top: 20px;
  width: 500px;
  font-weight: 700;
  line-height: 25px;
}

.content-container .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
}

.content-container .buttons-container .start-btn {
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  background-color: #fd1245;
  font-weight: 900;
  color: white;
}

.content-container .buttons-container .start-btn:hover {
  background-color: #251c57;
}

.content-container .buttons-container .learn-btn {
  color: #251c57;
  font-weight: 900;
  padding: 20px 40px;
}

.content-container .buttons-container .learn-btn:hover, .content-container .buttons-container .learn-btn:active {
  padding: 20px 40px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 0px 2px #fd1245;
          box-shadow: inset 0px 0px 0px 2px #fd1245;
}

.content-container .image--earth {
  -webkit-animation: floatingEffect 2.3s ease-in-out infinite;
          animation: floatingEffect 2.3s ease-in-out infinite;
}

.footer-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .finish-p {
  font-size: 1.1rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  margin-top: 150px;
  color: #251c57;
  z-index: 3;
}

.footer-container #animal {
  z-index: 2;
  height: 170px;
}

.footer-container .half-circle {
  width: 400px;
  height: 200px;
  /* as the half of the width */
  position: absolute;
  background-color: #f6f2fd;
  border-top-left-radius: 700px;
  /* 100px of height + 10px of border */
  border-top-right-radius: 700px;
  /* 100px of height + 10px of border */
  border-bottom: 0;
  z-index: 1;
  margin-top: 60px;
}

.darkMode {
  background: #09080f;
  color: white;
}

.darkMode nav .ul-container .trial-btn {
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  background-color: #251c57;
  font-weight: 900;
  color: white;
}

.darkMode nav .ul-container .trial-btn:hover {
  background-color: #fd1245;
}

.darkMode h1 {
  color: whitesmoke;
  font-size: 4.5rem;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  line-height: 80px;
}

.darkMode h1 span {
  font-size: 4.5rem;
  color: #251c57;
  font-family: "Montserrat", sans-serif;
}

.darkMode .buttons-container .learn-btn {
  color: white;
  font-weight: 900;
  padding: 20px 40px;
}

.darkMode .buttons-container .learn-btn:hover, .darkMode .buttons-container .learn-btn:active {
  padding: 20px 40px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 0px 2px #fd1245;
          box-shadow: inset 0px 0px 0px 2px #fd1245;
}

.darkMode .footer-container .finish-p {
  font-size: 1.1rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  margin-top: 160px;
  color: white;
  z-index: 3;
}

.darkMode .footer-container .half-circle {
  width: 400px;
  height: 200px;
  /* as the half of the width */
  position: absolute;
  background-color: #0d0b11;
  border-top-left-radius: 700px;
  /* 100px of height + 10px of border */
  border-top-right-radius: 700px;
  /* 100px of height + 10px of border */
  border-bottom: 0;
  z-index: 1;
  margin-top: 60px;
}

.switch {
  --line: #505162;
  --dot: rgb(255, 187, 0);
  --circle: #02063b;
  --duration: 0.3s;
  --text: #9ea0be;
  cursor: pointer;
}

.switch input {
  display: none;
}

.switch input + div {
  position: relative;
}

.switch input + div:before, .switch input + div:after {
  --s: 1;
  content: "";
  position: absolute;
  height: 4px;
  top: 10px;
  width: 24px;
  background: var(--line);
  -webkit-transform: scaleX(var(--s));
          transform: scaleX(var(--s));
  -webkit-transition: -webkit-transform var(--duration) ease;
  transition: -webkit-transform var(--duration) ease;
  transition: transform var(--duration) ease;
  transition: transform var(--duration) ease, -webkit-transform var(--duration) ease;
}

.switch input + div:before {
  --s: 0;
  left: 0;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  border-radius: 2px 0 0 2px;
}

.switch input + div:after {
  left: 28px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  border-radius: 0 2px 2px 0;
}

.switch input + div span {
  padding-left: 56px;
  line-height: 24px;
  color: var(--text);
}

.switch input + div span:before {
  --x: 0;
  --b: var(--circle);
  --s: 4px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 var(--s) var(--b);
          box-shadow: inset 0 0 0 var(--s) var(--b);
  -webkit-transform: translateX(var(--x));
          transform: translateX(var(--x));
  -webkit-transition: -webkit-box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
  transition: -webkit-box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
  transition: box-shadow var(--duration) ease, transform var(--duration) ease;
  transition: box-shadow var(--duration) ease, transform var(--duration) ease, -webkit-box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
}

.switch input + div span:not(:empty) {
  padding-left: 64px;
}

.switch input:checked + div:before {
  --s: 1;
}

.switch input:checked + div:after {
  --s: 0;
}

.switch input:checked + div span:before {
  --x: 28px;
  --s: 12px;
  --b: var(--dot);
}

@-webkit-keyframes floatingEffect {
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
}

@keyframes floatingEffect {
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
}
/*# sourceMappingURL=style.css.map */